@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro', sans-serif;
  color: #000;
  background: #fff;
}
header {
  width: 100%;
  max-width: 1500px;
  height: auto;
  background-image: url(../images/main-4-2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-size: 3rem;
}
section{
  margin: 0 auto 0 auto;
  padding: 0 0 10px 0;
}
section h2{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
table#inf{
  width: 550px;
  margin: 0 auto;
  border-spacing: 5px;
}
table#inf td{}
table#inf th,table#inf td{
  font-weight: normal;
  padding: 10px 70px ;
}
table p#nimei{
  font-size: 1.6rem;
  color: #333;
}
section#mto{}
section#mto h2{}
section#mto ul{
  width: fit-content;
  margin: 10px auto;
}
section#mto ul li{
  padding: 10px 0;
}

div#text-container{
  flex: 1 1 600px;
  max-width: 600px;
  line-height: 2;
}
p#nimei{
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: bold;
}

div#bo{
  display: flex;
}

.daimei{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.side-image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}
