@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro', sans-serif;
  color: #000;
  line-height: 2;
  background: #fff;
}

main section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main section div ul{
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}
main section div ul li{
  font-size: 1.3rem;
  text-align: left;
}
table#mod{
  margin: 0 auto;
  border-spacing: 5px;
}
table#mod tr th,td{
  padding: 10px 0px ;
}
table#mod tr th#img{
  border: none;
  padding: 0px;
}
table#mod tr th img{
  vertical-align: bottom;
  padding: 0 5px;
}
p{
  font-size: 1.3rem;
  padding: 5px 0;
}
.hidden {
  display: none;
}
.hidden ol{
  padding: 0 0 0 5rem;
}
.hidden ol li{
  text-align: left;
  padding: 5px 0;
  font-size: 1.3rem;
}
div#pagetop{
  position: fixed;
  bottom: 100px;
  left: 100px;
}
div#pagetop a{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-decoration: none;
  underline none;
  font-size: 2rem;
  color: #fff;
  background-color: #00E7F2;
  box-shadow: 0 0 40px #fff;
  border-radius: 50%;
}
div#pagetop a:hover{
  opacity: 0.5;
}

