@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro', sans-serif;
  color: #000;
  background: #fff;
  grid-template-rows: auto 1fr;
  gap: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
  background-image:url(../images/top-3.jpg);
}
nav#sidebar{
  background-color: #f0f0f0;
  position: sticky;
  top: 1;
  padding: 0;
  height: fit-content
}
nav#sidebar ul{
  padding: 5px 0;
}
nav#sidebar ul li{
  padding: 5px 0;
}
nav#sidebar ul li a{
  color:#fff;
}
div#container{
  grid-template-columns: auto 1fr;
  gap: 20px;
}

h1{
  text-align: center;
  font-size: 3.5rem;
  margin: 30px 0;
}
h2{
  font-size: 2.8rem;
}
main h2{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top:  100px;
}
main{
  margin:   -200px 0 0 0;
}

main section{
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
}
main section h2{
  padding: 30px 0;
}
main section h3{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
  font-size:  2rem;
}
main section p{
  margin: 0 30px;
}
main hr{
  margin: 10px auto;
  border-bottom: 5px solid  #000;
  border-image: linear-gradient(to right,#0000 20%, #00f9 35%, #ffa07a 55%, #0f09 75%,#0000 80%);
  border-image-slice: 1;
}
table#inf{
  width: 900px;
  margin: 0 auto;
  padding: 0 0 0 0;
  border-spacing: 5px;
}
table#inf th,
table#inf td{
  font-weight: normal;
  padding: 10px 0px ;
}


.responsive{
  width: 100%;
}
iframe{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.leftimg img{
  vertical-align: bottom;
}
.divider{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.divider::before,
.divider::after{
  content: "";
  flex: 1;
  border-bottom: 5px solid  #000;
  border-image: linear-gradient(to right,#0000 20%, #00f9 35%, #ffa07a 55%, #0f09 75%,#0000 80%);
  border-image-slice: 1;
}
.divider::before{
  margin-right: 10px;
}
.divider::after{
  margin-left: 10px;
}