@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro', sans-serif;
  color: #000;
  background: #fff;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
nav#sidebar{
  background-color: #f0f0f0;
  opacity: 1;
  position: sticky;
  top: 1;
  padding: 10px;
  height: fit-content
}
nav#sidebar ul{
  padding: 5px 0;
}
section#container{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 9fr; /* 左: 1/4幅、右: 3/4幅 */
  gap: 20px;
  height: 100vh;
}

h1{
  text-align: center;
  font-size: 3rem;
}

main h2{
  display: flex;
  justify-content: center;
}
main section{
  width: 1050px;
  margin: 0 auto 0 auto;
  padding: 0 0 10px 0;
  border: 2px solid #000;
  /*border-bottom: none;*/
}
main section h2{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 3rem;
}
main section h3{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}
main section p{
  margin: 0 30px;
}
main hr{
  margin: 20px auto;
  border-bottom: 5px solid  #000;
  border-image: linear-gradient(to right,#0000 0%, #00f9 25%, #0f09 75%,#0000 100%);
  border-image-slice: 1;
}
.inf{
  width: 900px;
  margin: 0 auto;
  padding: 0 0 0 0;
  border-spacing: 5px;
  border: 1px solid #000;
}
.inf td{}
.inf th,td{
  font-weight: normal;
  padding: 10px 0px ;
  border: 1px solid #000;
}


.responsive{
  width: 100%;
  /*aspect-ratio: 16/9;*/
}
iframe{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.leftimg img{
  vertical-align: bottom;
}
